.navbar {
  border-radius: 0px;
}

.nav-tabs {
  border: none;
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 2px solid #4bb357;
  background: #4bb357;
  outline: none;
  width: 100%;
  border-radius: 0px;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 14px;
}

.nav-tabs > li > a:hover {
  margin-right: 2px;
  line-height: 1.42857143;
  background: transparent;
  border-bottom: 2px solid transparent;
  color: #000000;
  outline: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  width: 33.3%;
  text-align: center;
  background: #FFFFFF;
  outline: none;
}

.nav-tabs > li > a {
  margin-right: 2px;
  color: #000000;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 14px;
  outline: none;
}
