.custom-tab {
  margin-top: -40px;
  background-image: url(https://coinswitch.co/public/images/offers_bg.jpg);
  background-size: contain;
  width: 50%;
  margin: -20px auto;
}

@media only screen and (max-width: 600px) {
  .custom-tab {
    margin-top: -20px;
    width: 100%;
    background-image: url(https://coinswitch.co/public/images/offers_bg.jpg);
    background-size: 100%;
  }
}
